<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/toastr/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="/css/emoji.css" rel="stylesheet">
  <title>Chat: Omeclone</title>
</head>

<body class="chat-body">
  <div class="ui grid">
    <div class="row outer">
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div class="ui raised segment header centered semi top">
          <div>
            <i class="user icon"></i>
            {{ userName }}
          </div>
        </div>
        <div class="ui vertical grid" id="msgs">
          <div class="sixteen column row"></div>
          <div class="sixteen column row"></div>
        </div>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="row">
      <div class="five wide column"></div>
      <div class="six wide column">
        <div class="ui mini modal transition tada" id="confirm">
          <div class="header">
            End This Chat
          </div>
          <div class="content">
            <p>Are you sure you want to end this chat?</p>
          </div>
          <div class="actions">
            <div class="ui teal button" id="cancel">
              No
            </div>
            <div class="ui red right labeled icon button" id="close">
              Yes
              <i class="sign out icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="five wide column"></div>
    </div>
  </div>
  <div class="ui raised segment sixteen column row full bottom">
    <div class="ui action icon input full">
      <button class="ui red right labeled icon button" id="endbtn">
        <i class="ban icon"></i>
        <span class="txt">End</span>
      </button>
      <a href="/chat">
        <button class="ui teal icon button hide" id="newbtn">
          <span>New</span>
        </button>
      </a>
      <input type="text" placeholder="Please wait for another user..." id="message" disabled="true" tabindex="0" data-emojiable="true">
      <button class="ui teal labeled icon button" id="sendbtn">
        <i class="fitted send icon"></i>
        <span class="txt">Send</span>
      </button>
      <a href="/">
        <button class="ui red icon button right-float hide" id="homebtn">
          <span>Home</span>
        </button>
      </a>
    </div>
  </div>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Begin emoji-picker JavaScript -->
    <script src="/js/config.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/jquery.emojiarea.js"></script>
    <script src="/js/emoji-picker.js"></script>
    <!-- End emoji-picker JavaScript -->

    <script>
      $(function() {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath: '/images/',
          popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
      });
    </script>
</body>
<script src="/bower_components/Autolinker.js/dist/Autolinker.min.js"></script>
<script src="/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="/bower_components/toastr/toastr.min.js"></script>
<script src="js/chat.js"></script>
<script src="/bower_components/aes-js/index.js"></script>
<script src="js/end.js"></script>

</html>
